@import url("https://fonts.googleapis.com/css?family=Exo+2:200|Inria+Sans|Montserrat&display=swap");
.header {
  /* background-image: linear-gradient(#7bd5f5, #787ff6); */
  background-image: white;
  background-color: white;
}
.header .header-image {
  width: 30rem;
}
.name-header {
  font-size: 2rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
.title-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
/* .contact-button {
  background-color: #645e91;
} */
